# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\codework\breakpoint\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/codeStyles/codeStyleConfig.xml
/compiler.xml
/encodings.xml
/misc.xml
/vcs.xml
/uiDesigner.xml
/jarRepositories.xml
