<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nicefish.auth.dao.POPermissionMapper">
    <resultMap id="BaseResultMap" type="com.nicefish.auth.po.POPermission">
        <id column="PERMISSION_ID" property="permissionId" jdbcType="VARCHAR" />
        <result column="PERMISSION_CODE" property="permissionCode" jdbcType="VARCHAR" />
        <result column="PERMISSION_DESC" property="permissionDesc" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        PERMISSION_ID, PERMISSION_CODE, PERMISSION_DESC
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" /> from permission where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from permission where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
    </delete>
    <insert id="insertSelective" parameterType="com.nicefish.auth.po.POPermission">
        insert into permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                PERMISSION_ID,
            </if>
            <if test="permissionCode != null">
                PERMISSION_CODE,
            </if>
            <if test="permissionDesc != null">
                PERMISSION_DESC,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                #{permissionId,jdbcType=VARCHAR},
            </if>
            <if test="permissionCode != null">
                #{permissionCode,jdbcType=VARCHAR},
            </if>
            <if test="permissionDesc != null">
                #{permissionDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.nicefish.auth.po.POPermission">
        update permission
        <set>
            <if test="permissionCode != null">
                PERMISSION_CODE = #{permissionCode,jdbcType=VARCHAR},
            </if>
            <if test="permissionDesc != null">
                PERMISSION_DESC = #{permissionDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
    </update>
</mapper>
