<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nicefish.web.dao.POPostMapper">
    <resultMap id="BaseResultMap" type="com.nicefish.web.po.POPost">
        <id column="POST_ID" property="postId" jdbcType="VARCHAR" />
        <result column="POST_TITLE" property="postTitle" jdbcType="VARCHAR" />
        <result column="POST_TIME" property="postTime" jdbcType="TIMESTAMP" />
        <result column="POST_TYPE" property="postType" jdbcType="INTEGER" />
        <result column="LAST_MODIFY_TIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
        <result column="READ_TIMES" property="readTimes" jdbcType="INTEGER" />
        <result column="LIKED_TIMES" property="likedTimes" jdbcType="INTEGER" />
        <result column="COMMENT_TIMES" property="commentTimes" jdbcType="INTEGER" />
        <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="ENABLE_COMMENT" property="enableComment" jdbcType="INTEGER" />
        <result column="STATUS" property="status" jdbcType="INTEGER" />
        <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.nicefish.web.po.POPost" extends="BaseResultMap">
        <result column="POST_CONTENT" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        POST_ID, POST_TITLE, POST_TIME, POST_TYPE, LAST_MODIFY_TIME, READ_TIMES, LIKED_TIMES, COMMENT_TIMES, USER_ID, USER_NAME, ENABLE_COMMENT, STATUS, NICK_NAME
    </sql>
    <sql id="Blob_Column_List">
        POST_CONTENT
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" /> ,
        <include refid="Blob_Column_List" /> from post where POST_ID = #{postId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from post where POST_ID = #{postId,jdbcType=VARCHAR}
    </delete>
    <insert id="insertSelective" parameterType="com.nicefish.web.po.POPost">
        insert into post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                POST_ID,
            </if>
            <if test="postTitle != null">
                POST_TITLE,
            </if>
            <if test="postTime != null">
                POST_TIME,
            </if>
            <if test="postType != null">
                POST_TYPE,
            </if>
            <if test="lastModifyTime != null">
                LAST_MODIFY_TIME,
            </if>
            <if test="readTimes != null">
                READ_TIMES,
            </if>
            <if test="likedTimes != null">
                LIKED_TIMES,
            </if>
            <if test="commentTimes != null">
                COMMENT_TIMES,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="enableComment != null">
                ENABLE_COMMENT,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="nickName != null">
                NICK_NAME,
            </if>
            <if test="content != null">
                POST_CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                #{postId,jdbcType=VARCHAR},
            </if>
            <if test="postTitle != null">
                #{postTitle,jdbcType=VARCHAR},
            </if>
            <if test="postTime != null">
                #{postTime,jdbcType=TIMESTAMP},
            </if>
            <if test="postType != null">
                #{postType,jdbcType=INTEGER},
            </if>
            <if test="lastModifyTime != null">
                #{lastModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="readTimes != null">
                #{readTimes,jdbcType=INTEGER},
            </if>
            <if test="likedTimes != null">
                #{likedTimes,jdbcType=INTEGER},
            </if>
            <if test="commentTimes != null">
                #{commentTimes,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="enableComment != null">
                #{enableComment,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="readTimesPlusOne" parameterType="java.lang.String">
        update post set READ_TIMES=READ_TIMES+1 where POST_ID = #{postId,jdbcType=VARCHAR}
    </update>

    <update id="commentTimesPlusOne" parameterType="java.lang.String">
        update post set COMMENT_TIMES=COMMENT_TIMES+1 where POST_ID = #{postId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.nicefish.web.po.POPost">
        update post
        <set>
            <if test="postTitle != null">
                POST_TITLE = #{postTitle,jdbcType=VARCHAR},
            </if>
            <if test="postTime != null">
                POST_TIME = #{postTime,jdbcType=TIMESTAMP},
            </if>
            <if test="postType != null">
                POST_TYPE = #{postType,jdbcType=INTEGER},
            </if>
            <if test="lastModifyTime != null">
                LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="readTimes != null">
                READ_TIMES = #{readTimes,jdbcType=INTEGER},
            </if>
            <if test="likedTimes != null">
                LIKED_TIMES = #{likedTimes,jdbcType=INTEGER},
            </if>
            <if test="commentTimes != null">
                COMMENT_TIMES = #{commentTimes,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="enableComment != null">
                ENABLE_COMMENT = #{enableComment,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="nickName != null">
                NICK_NAME = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                POST_CONTENT = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where POST_ID = #{postId,jdbcType=VARCHAR}
    </update>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" /> ,
        <include refid="Blob_Column_List" /> from post where STATUS != 1 and STATUS != 3
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) as TOTAL_NUM from post where STATUS != 1 and STATUS != 3
    </select>
    <select id="selectCountByUserId" resultType="java.lang.Integer">
        select count(*) as TOTAL_NUM from post where user_id=#{userId} and STATUS != 1 and STATUS != 3
    </select>
    <select id="selectByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" /> ,
        <include refid="Blob_Column_List" /> from post where STATUS != 1 and STATUS != 3 order by POST_TIME desc limit #{beginRow},#{pageSize}
    </select>

    <select id="getPostByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" /> ,
        <include refid="Blob_Column_List" /> from post where STATUS != 1 and STATUS != 3
          and user_id = #{userId}
          order by POST_TIME desc limit #{start},#{limit}
    </select>

    <select id="findByTitle" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" /> ,
        <include refid="Blob_Column_List" /> from post where STATUS != 1 and STATUS != 3
        <if test="key != null and key!=''">
            and (POST_TITLE like CONCAT('%',#{key,jdbcType=VARCHAR},'%'))
        </if>
    </select>
</mapper>
